<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/forum.css"/>
</head>
<body>
<div class="box">
<a class="text-body" style="color: black" th:href="@{/findpost(id=${post.id})}" th:text="${post.title}"></a>
    <span id="box_data" th:text="${post.createtime}"/>
    <p  th:text="${post.description}"/>


</div>




<div class="box_pex">
   <div class="box_remark" th:each="content,userStat:${contentList}"  >
       <ul>
           <li>
               <img style="border-radius:50%; overflow:hidden;" width="50" height="50" th:src="${content.picture_url}">
               <span class="badge-tag" th:text="${content.name}"></span>
               <span class="badge-tag" th:text="${content.comment}"></span>

           </li>
       </ul>
   </div>

</div>

</body>
</html>