<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/forum.css"/>
</head>
<body>
<div class="box">
<a class="text-body" style="color: black" th:href="@{/findpost(id=${post.id})}" th:text="${post.title}"></a>
    <span th:text="${post.createtime}"/>
    <p  th:text="${post.description}"/>

    <div align="center" th:each="remark,userStat:${listremark}">

        <a th:text="${remark.comment}"></a>
    </div>

</div>

</body>
</html>