<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" href="../static/css/forum.css"/>
</head>
<body>
<div class="box">
<a class="text-body" style="color: black" th:href="@{/findpost(id=${post.id})}" th:text="${post.title}"></a>
    <span id="box_data" th:text="${post.createtime}"/>
    <p  th:text="${post.description}"/>


</div>




<div class="box_pex">
    <strong style="left: 1px;position: absolute;left: 4;top: 8px;">评论</strong>
   <div class="box_list">
       <ul>
           <li th:each="content,userStat:${contentList}">
               <div class="box_user">
               <img class="box_img"  style="border-radius:50%; overflow:hidden;" width="35" height="35" th:src="${content.picture_url}">
               <a class="box_remark"  th:text="${content.name}"></a>
               </div>
               <span  th:text="${content.comment}"></span>
           </li>
       </ul>
   </div>

</div>

</body>
</html>