  <!DOCTYPE html>

  <html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/home.js"></script>
  </head>
  <body>
  <div style="width:280px;height: 500px;">
  <div class="box" onclick="showhide();">
    <img class="showPic" th:src="${{filename}}" alt="图片" width="100" height="100" />
  </div>
    <br/>
    <p  id="uname" type="text" th:text="${name}">1111</p>
    <input type="button" id="load" value="修改头像" class="btn btn-success" onclick="upload()"/>
    <br/>
    <form id="up" method="post" enctype="multipart/form-data" >
    <input type="file" name="file" id="fileid" accept="image/*" style="display:none"/>
    <br/>
  </form>

     小破站



  </div>
  <div class="fen">
    <div id="box_text" >
      <ul>
        <li  th:each="post,userStat:${post.list}">
          <div class="number">
              <span>0</span>
              <span>阅读</span>
          </div>
          <div class="title_box">
      <a style="color: black" th:href="@{/findpost(id=${post.id})}" th:text="${post.title}" target="_blank"/>
      <span class="badge-tag" th:text="${post.type}"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div style="float:right">
    <span th:text="'总条数：'+${post.countnumber}+' 条 / 总页数：'+${post.totalPage}+' 页'"></span>
  </div>
<!--    <span th:text="'总条数：'+${pageBean.totalNum}+' 条 / 总页数：'+${pageBean.totalPage}+' 页'"></span>-->
<!--    <br/>-->
<!--    <ul class="pagination" th:with="currentPage=${pageBean.currentPage},totalPage=${pageBean.totalPage},link=${#httpServletRequest.requestURL}" >-->
<!--      <li><a th:href="@{${link}}">首页</a></li>-->
<!--      <li><a th:href="@{${link}(currentPage=${currentPage>1?currentPage-1:1})}">&laquo;</a></li>-->
<!--      <li th:if="${currentPage-2>0}"><a th:href="@{${link}(currentPage=${currentPage-2})}" th:text="${currentPage-2}"></a></li>-->
<!--      <li th:if="${currentPage-1>0}"><a th:href="@{${link}(currentPage=${currentPage-1})}" th:text="${currentPage-1}"></a></li>-->
<!--      <li th:class="active"><a th:href="@{${link}(currentPage=${currentPage}}" th:text="${currentPage}"></a></li>-->
<!--      <li th:if="${currentPage+1<=totalPage}"><a th:href="@{${link}(currentPage=${currentPage}+1)}" th:text="${currentPage}+1"></a></li>-->
<!--      <li th:if="${currentPage+2<=totalPage}"><a th:href="@{${link}(currentPage=${currentPage}+2)}" th:text="${currentPage}+2"></a></li>-->
<!--      <li><a th:href="@{${link}(currentPage=${currentPage+1<=totalPage?currentPage+1:totalPage})}">&raquo;</a></li>-->
<!--      <li><a th:href="@{${link}(currentPage=${totalPage})}">尾页</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <ul class="ul_box">-->
<!--    <li class="li_box"><div class="p-3 d-flex flex-column flex-md-row my-warning"><div class="d-flex flex-sm-shrink-1 mb-2 mb-md-0"><div class="num-card text-secondary py-1 me-3 me-md-2  "><span class="font-size-16 me-1 me-sm-0">0</span><span class="font-size-14">回答</span></div><div class="num-card text-secondary py-1 me-3-->
<!--             "><span class="font-size-16">5</span><span class="d-block d-sm-none" style="width:4px"></span><span class="font-size-14">阅读</span></div></div><div class="w-100"><h6 class="q-item-title" style="margin-bottom:12px"><a href="/q/1010000041921444" class="text-body" target="">如何进行代理用户名密码的安全加密</a></h6><div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-between"><div class="d-flex flex-wrap align-items-center"><div class="d-flex flex-wrap align-items-center me-3"><div class="m-n1 d-flex flex-wrap align-items-center"><a href="/t/%E5%8A%A0%E5%AF%86%E8%A7%A3%E5%AF%86" class="m-1 badge-tag  ">加密解密</a><a href="/t/%E5%90%8E%E7%AB%AF" class="m-1 badge-tag  ">后端</a></div></div></div><div class="user-info font-size-14"><a href="/u/biehuitou">别回头</a><span class="split-dot"></span><a href="/q/1010000041921444" class="text-secondary" target="">1 分钟前提问</a></div></div></div></div></li>-->
<!--    </ul>-->













  </body>
  </html>