<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
    <style>

    </style>
</head>
<body>
<a class="s-top-login-btn c-btn c-btn-primary c-btn-mini lb" style="position:relative;overflow: visible;"
   id="s-top-loginbtn"
   href="https://passport.baidu.com/v2/?login&amp;tpl=mn&amp;u=http%3A%2F%2Fwww.baidu.com%2F&amp;sms=5" name="tj_login"
   onclick="return false;">登录</a>


</body>

</html>